@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary: #252850;
    --black: #333333;
    --white: #FFFFFF;
    --width-break: 600px;
}

body {
    margin: 0;
    font-family: 'Stick No Bills', cursive;
    color: var(--black);
}

nav {
    padding: 1rem;
    font-size: 2rem;
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

button {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: large;
}

#output-text {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid var(--black);
}

footer {
    position: fixed;
    bottom: 0rem;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
}

footer div {
    font-size: x-large;
}

footer p {
    max-width: var(--width-break);
    margin: auto;
}